/* CSS FOR THE NAVIGATION BAR */

nav {
  background-size: 100% 100%;
  height: 64px;
  margin-left:-70px;
  left: 0;
  min-width: 1200px;
  padding-left: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  position: fixed;
  z-index:1;
  top: 0px;
  text-align:center;
  overflow: hidden;
  background-color: #334455;
}

nav > ul {
  display: inline;
  list-style: none outside none;
  min-width: 900px;
  padding: 0 20px;
  position: relative;
  top: 20px;
}

nav > ul > li {
  color: #FFFF00;
  display: inline;
  margin-left: 25px;
  padding: 4px;
}

nav > ul > li > a {
  background-color: #000000;
  border-radius: 22px;
  color: #FFFF00;
  padding: 11px 18px;
  text-decoration: none;
}

nav > ul > li > a:hover{
  background-color: #777777;
  color: #FFFF00;
}

nav > ul > li > a:visited{
  color: #FFFF00;
}

/*****************************************/
/*************** END NAV *****************/
/*****************************************/

body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #FFFFFF;
  margin-left: 0px;
}



html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#thePlot{
  margin-top: 60px;
  width: 80%;
  height: 100%;
  border:none;
  z-index: -1;
  overflow: hidden;
}



#hoverinfo {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  left: 81%;
  max-height: 150px;
  max-width: 200px;
  padding: 10px;
  position: absolute;
  top: 130px;
  width: 20%;
  z-index: 3;
}


#predictBody{
  background-image: url("https://raw.githubusercontent.com/mchandler13/BoulderView/master/data/images/flatirons.jpg");
  background-size:100% 100%;
}

.info{
  width:80%;
  height:30px;
  position:relative;
  left:5%;
  top: 15%;
  background-color: #000000;
  opacity: 0.8;
  color: #FFFFFF;
}
#predictBody>table{
  height:50px;
  width:70%;
  position:relative;
  left:30%;
  top: 15%;
  background-color: #000000;
  opacity: 0.8;
  color: #FFFFFF;
}
#displayTable{
  visibility: hidden;
}

#firstButton{
  color:#000000;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/
