html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #AA88AA;
  margin-left: 0px;
}
#nav1{
  position: fixed;
  top: 0px;
  width: 100%;
  text-align:center;
  overflow: hidden;
  background-color: #0000FF;
}
#nav1 > ul{
  list-style: none;
}
#plot{
  margin-top: 90px;
  width: 80%;
  height: 100%;
  border:none;
  z-index: 2;
}
#there{
  position: absolute;
  left: 81%;
  top: 130px;
  z-index: 3;
  border : none;
  max-width: 200px;
  max-height: 150px;
  align: "middle";
}
