<html lang="en">
  <head>
    <title>Boulder View</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="utf-8">
    <meta name="author" content="Martin Chandler">
    <meta name="description" content="Boulder View">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  </head>
  <body>
    <nav id = "nav1">
      <ul>
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
        <li>Link 4</li>
      </ul>
    </nav>
    <div id="thePlot"></div>
    <!-- <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p> -->

    <div id="hoverinfo" style="  position: absolute;
      left: 81%;
      top: 130px;
      z-index: 3;
      border : none;
      max-width: 200px;
      max-height: 150px;
      align: "middle";"></div>
    <script>
    var myPlot = document.getElementById('thePlot'),
        hoverInfo = document.getElementById('hoverinfo'),
        d3 = Plotly.d3,
        x = {{data[0]}},
        y1 = {{data[1]}},
        y2 = {{data[2]}},
        data = [ { x:x, y:y1, type:'scatter', name:'Boulder Tweets!!',
            mode:'markers', marker:{size:4}, text:y2  }];
        layout = {
            hovermode:'closest',
            title:'Boulder Tweets',
            images: [{source: "https://raw.githubusercontent.com/mchandler13/BoulderView/master/data/images/Boulder.jpg",
                      xref: "x",
                      yref: "y",
                      x: -105.4,
                      y: 40.08,
                      sizex: .3,
                      sizey: .1,
                      sizing: "stretch",
                      opacity: 0.7,
                      layer: "below"}]
         };


    Plotly.plot('thePlot', data, layout);

    myPlot.on('plotly_hover', function(data){
        var infotext = data.points.map(function(d){
          return ('Number of Hashtags: '+d.text);
        });
        hoverInfo.innerHTML = infotext.join('');
      });
    </script>
  </body>
</html>
