<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_4eb51142afcc4375a2a39286b6d67bba {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4eb51142afcc4375a2a39286b6d67bba" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_4eb51142afcc4375a2a39286b6d67bba = L.map(
                                  'map_4eb51142afcc4375a2a39286b6d67bba',
                                  {center: [40,-105.25],
                                  zoom: 13,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_7596c4850f6c4dbd94fc3ddfe2687e15 = L.tileLayer(
                'https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_4eb51142afcc4375a2a39286b6d67bba);
        
    

            var marker_e89a5e782c8d4eb393dc83c742b10616 = L.marker(
                [40.0149856,-105.2705456],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_4eb51142afcc4375a2a39286b6d67bba);
            
    

                var icon_72d12fd6806a4ec2847b046a44efc911 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e89a5e782c8d4eb393dc83c742b10616.setIcon(icon_72d12fd6806a4ec2847b046a44efc911);
            
    
            var popup_b96f0513fa344b85b24bbfda5e8b7072 = L.popup({maxWidth: '300'});

            
                var html_07e4cbacb3b3423e8b40ec494733a4e5 = $('<div id="html_07e4cbacb3b3423e8b40ec494733a4e5" style="width: 100.0%; height: 100.0%;">1</div>')[0];
                popup_b96f0513fa344b85b24bbfda5e8b7072.setContent(html_07e4cbacb3b3423e8b40ec494733a4e5);
            

            marker_e89a5e782c8d4eb393dc83c742b10616.bindPopup(popup_b96f0513fa344b85b24bbfda5e8b7072);

            
        
    

            var marker_90ba48415ee642ecaabb591486372a12 = L.marker(
                [39.9799992,-105.248737],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_4eb51142afcc4375a2a39286b6d67bba);
            
    

                var icon_9007cbd7cbdb473c8b92fba21ed6dfef = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_90ba48415ee642ecaabb591486372a12.setIcon(icon_9007cbd7cbdb473c8b92fba21ed6dfef);
            
    
            var popup_1cf017a7a52041aa8dcfbfd7e0351467 = L.popup({maxWidth: '300'});

            
                var html_1e144c5c651542038e46eebd7852c189 = $('<div id="html_1e144c5c651542038e46eebd7852c189" style="width: 100.0%; height: 100.0%;">2</div>')[0];
                popup_1cf017a7a52041aa8dcfbfd7e0351467.setContent(html_1e144c5c651542038e46eebd7852c189);
            

            marker_90ba48415ee642ecaabb591486372a12.bindPopup(popup_1cf017a7a52041aa8dcfbfd7e0351467);

            
        
    

            var marker_7eeb6392d3b14949bc97993835dc4f73 = L.marker(
                [40.0406506,-105.2077798],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_4eb51142afcc4375a2a39286b6d67bba);
            
    

                var icon_382fa9fe5971438a813e4bbd4845a255 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7eeb6392d3b14949bc97993835dc4f73.setIcon(icon_382fa9fe5971438a813e4bbd4845a255);
            
    
            var popup_39e583df32214328a7a718f603dbeb72 = L.popup({maxWidth: '300'});

            
                var html_1aa1858a4c8f44139820724c8b428fad = $('<div id="html_1aa1858a4c8f44139820724c8b428fad" style="width: 100.0%; height: 100.0%;">3</div>')[0];
                popup_39e583df32214328a7a718f603dbeb72.setContent(html_1aa1858a4c8f44139820724c8b428fad);
            

            marker_7eeb6392d3b14949bc97993835dc4f73.bindPopup(popup_39e583df32214328a7a718f603dbeb72);

            
        
    
            var circle_marker_e8c3c8d6c6de486fbdce9a648b803691 = L.circleMarker(
                [40.0149856,-105.2705456],
                {
  "bubblingMouseEvents": true,
  "color": "#3186cc",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "#3186cc",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 10,
  "stroke": true,
  "weight": 3
}
                ).addTo(map_4eb51142afcc4375a2a39286b6d67bba);
            
    
            var popup_98b1029c3faf40cb8acf57c1f5d565c9 = L.popup({maxWidth: '300'});

            
                var html_aac17ea85cfd42e08d56bf375387d4e4 = $('<div id="html_aac17ea85cfd42e08d56bf375387d4e4" style="width: 100.0%; height: 100.0%;">Actual Location</div>')[0];
                popup_98b1029c3faf40cb8acf57c1f5d565c9.setContent(html_aac17ea85cfd42e08d56bf375387d4e4);
            

            circle_marker_e8c3c8d6c6de486fbdce9a648b803691.bindPopup(popup_98b1029c3faf40cb8acf57c1f5d565c9);

            
        
</script>