<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>

            <style> #map_0532a069601845b296d0680a84aa2e91 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>

</head>
<body>

            <div class="folium-map" id="map_0532a069601845b296d0680a84aa2e91" ></div>

</body>
<script>



                var bounds = null;


            var map_0532a069601845b296d0680a84aa2e91 = L.map(
                                  'map_0532a069601845b296d0680a84aa2e91',
                                  {center: [40,-105.25],
                                  zoom: 13,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });



            var tile_layer_ee02b87b661b4804a2a87a1f1a62aef3 = L.tileLayer(
                'https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_0532a069601845b296d0680a84aa2e91);



            var marker_8d997491c1eb48bfb6deb2ddccffb97f = L.marker(
                [40.0169799,-105.28063],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_0532a069601845b296d0680a84aa2e91);



                var icon_1dd877c726454e8a83c1a7eaf9399ee6 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8d997491c1eb48bfb6deb2ddccffb97f.setIcon(icon_1dd877c726454e8a83c1a7eaf9399ee6);


            var popup_61c6c358a14d430e9c568d7ea48e00c3 = L.popup({maxWidth: '300'});


                var html_b9b92ca26a2045818dfc07540b1ec4c6 = $('<div id="html_b9b92ca26a2045818dfc07540b1ec4c6" style="width: 100.0%; height: 100.0%;">1</div>')[0];
                popup_61c6c358a14d430e9c568d7ea48e00c3.setContent(html_b9b92ca26a2045818dfc07540b1ec4c6);


            marker_8d997491c1eb48bfb6deb2ddccffb97f.bindPopup(popup_61c6c358a14d430e9c568d7ea48e00c3);





            var marker_686e2e9d342d4e5188e8099f01290f11 = L.marker(
                [40.00801744,-105.27655101],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_0532a069601845b296d0680a84aa2e91);



                var icon_b9925cac2c014300a86c8801d8fc6a28 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_686e2e9d342d4e5188e8099f01290f11.setIcon(icon_b9925cac2c014300a86c8801d8fc6a28);


            var popup_b91f8962ee044e63b7e9972a119e48da = L.popup({maxWidth: '300'});


                var html_c0f53e7303e24d769d67d49cf8ea09a4 = $('<div id="html_c0f53e7303e24d769d67d49cf8ea09a4" style="width: 100.0%; height: 100.0%;">2</div>')[0];
                popup_b91f8962ee044e63b7e9972a119e48da.setContent(html_c0f53e7303e24d769d67d49cf8ea09a4);


            marker_686e2e9d342d4e5188e8099f01290f11.bindPopup(popup_b91f8962ee044e63b7e9972a119e48da);









            var marker_3a48a693f90c4c4ea202beb5a89aadec = L.marker(
                [40.02023,-105.27549],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_0532a069601845b296d0680a84aa2e91);



                var icon_2d408ff595934d4f88bb2b39b4466b43 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3a48a693f90c4c4ea202beb5a89aadec.setIcon(icon_2d408ff595934d4f88bb2b39b4466b43);


            var popup_098aa165f96a475cbcf896b684aaf865 = L.popup({maxWidth: '300'});


                var html_0d5fb6c777bc4a1da07e746bdafdf908 = $('<div id="html_0d5fb6c777bc4a1da07e746bdafdf908" style="width: 100.0%; height: 100.0%;">4</div>')[0];
                popup_098aa165f96a475cbcf896b684aaf865.setContent(html_0d5fb6c777bc4a1da07e746bdafdf908);


            marker_3a48a693f90c4c4ea202beb5a89aadec.bindPopup(popup_098aa165f96a475cbcf896b684aaf865);








</script>
