<html lang = "en">
  <head>
    <title>Boulder View</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="utf-8">
    <meta name="author" content="Martin Chandler">
    <meta name="description" content="Boulder View">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <nav id = "nav1">
    <ul class = "inline1">
      <li><a href="/">home</a></li>
      <li><a href="predict">predict</a></li>
      <li><a href="#cool">cool</a></li>
      <li><a href="#other">other</a></li>
    </ul>
  </nav>
  <body id = "predictBody">
    <div id = "firstText">
      <button onclick = "doSomething()" id = "firstButton">Get a Location!</button>
      <button onclick = "rel()">Go Again</button>
    </div>
    <div>ID will go here</div>
    <div id = "thirdText">Hashtags will go here</div>
    <table id = "displayTable">
      <tr>
        <th>ID</th>
        <th>Coordinates</th>
        <th>Number of Hashtags</th>
      </tr>
      <tr>
        <td id = "locID"></td>
        <td id = "locCoords"></td>
        <td id = "locNumHashtags"></td>
      </tr>
    </table>
  </body>
  <script>
    function doSomething() {
      locID.innerHTML = "{{data[0]}}";
      locCoords.innerHTML = "{{data[2]}}";
      locNumHashtags.innerHTML = "{{data[3]}}";
      thirdText.innerHTML = "Here ia a list of the Hashtags: <br>{{data[1]}}";
      document.getElementById("displayTable").style.visibility = "visible";
    }
    function rel(){
      window.location.reload();
    }
  </script>
</html>
