<html lang="en">
  <head>
    <title>Boulder View</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="utf-8">
    <meta name="author" content="Martin Chandler">
    <meta name="description" content="Boulder View">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>

  <body>
    <nav id = "nav1">
      <ul class = "inline1">
        <li><a href="/">home</a></li>
        <li><a href="predict">predict</a></li>
        <li><a href="#cool">cool</a></li>
        <li><a href="#other">other</a></li>
      </ul>
    </nav>
  </body>
</html>
