<html lang = "en">
  <head>
    <title>Boulder View</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="utf-8">
    <meta name="author" content="Martin Chandler">
    <meta name="description" content="Boulder View">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" href="https://raw.githubusercontent.com/mchandler13/BoulderView/master/data/images/flatirons.jpg">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
    integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
    crossorigin=""></script>
  </head>


  <body id = "predictBody">
    <nav id = "nav1">
      <ul class = "inline1">
        <li><a href="/">Home</a></li>
        <li><a href="predict">Predict</a></li>
        <li><a href="plots">Plots</a></li>
        <li><a href="future_steps">Future Steps</a></li>
      </ul>
    </nav>


    <div id = "predictMain" class = "mainDiv">
      <h1>Welcome To BoulderView</h1>
      <div id = "firstText" class = "info">
        <p> On this page, you can pull a random image from Twitter, and get a prediction.
          The text from the tweet will be displayed, along with the image and a map with the probable locations of the tweet.
        If the buttons aren't working, reload the page.</p>
        <button onclick = "getLoc()" class = "buttons">Get a Tweet!</button>
        <button onclick = "rel()" class = "buttons">Go Again</button>
      </div>
      <!-- <div id="locText">Text: </div> -->
      <div id = "predCoord" class = "info">Predicted Coordinates: </div>
      <div id = "actCoord" class = "info">Actual Coordinates: </div>
      <!-- <div id = "error" class = "info">Prediction: </div>
      <div id = "accuracy" class = "info">Accuracy: </div> -->
      <div id = "text" class = "info">Text: </div>
      <div id = "theImg" class = "info"></div>
      <div id = "mapid" class = "info"></div>

    </div>
  </body>
  <script>
    function getLoc(){

      predCoord.innerHTML = "Predicted Coordinates: {% for i in data[1] %} <br>({{(i[0])|round(4)}}, {{(i[1])|round(4)}}) {% endfor %}";
      actCoord.innerHTML = "Actual Coordinates:<br> {{data[2]}}";
      theImg.innerHTML = '<img id = "displayImg" src = {{data[3]}}>';
      text.innerHTML = 'Text: {{data[4]}}>';

      document.getElementById("predCoord").style.visibility = "visible";
      document.getElementById("actCoord").style.visibility = "visible";
      document.getElementById("text").style.visibility = "visible";
      document.getElementById("theImg").style.visibility = "visible";
      document.getElementById("displayImg").style.visibility = "visible";
      document.getElementById("mapid").style.visibility = "visible";


    }
    function rel(){
      window.location.reload();
    }
    function map(){

    }
    var mymap = L.map('mapid').setView([40, -105.25], 13);
    // var mymap = L.map(location=[40, -105.25],tiles = 'Stamen Terrain',zoom_start = 13)
  	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
  		maxZoom: 18,
  		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
  			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
  			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
  		id: 'mapbox.streets'
  	}).addTo(mymap);
    var marker = L.marker([{{data[2][1]}},{{data[2][0]}}]).addTo(mymap);
    var polygon = L.polygon([
    [{{data[1][0][1]}},{{data[1][0][0]}}],
    [{{data[1][1][1]}},{{data[1][1][0]}}],
    [{{data[1][2][1]}},{{data[1][2][0]}}]
]).addTo(mymap);
  </script>
  {% for i in data[1] %}
    <script>
      var marker = L.circle([{{i[1]}},{{i[0]}}],{color:'#000000',radius:50,popup:'The Waterfront'}).addTo(mymap);
    </script>
  {% endfor %}
</html>
